torch
bitsandbytes==0.43.0 
huggingface-hub==0.30.2
langchain
chromadb==0.4.24 
langchain-chroma==0.1.0   

fastapi
uvicorn==0.29.0
langchainhub==0.1.21
pydantic
langchain-huggingface
python-docx
pdfminer.six
pandas            
pillow-heif
pymupdf
docx2txt

pypdf
langchain-openai
langchain-core
unstructured 
openpyxl
msoffcrypto-tool